extends layout

include ./core/block-server-status.pug

block body_content
  +serverStatus(globalData.title, globalData.status, globalData.accounts, globalData.characters)
  include ./html/index.html
      
