doctype html
html
  head
    meta(charset="UTF-8")
    if title 
      title= title
    link(rel="shortcut icon" type="image/png" href="favicon.ico")
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/'+globalData.portal_style+'/style.css')
    block additional_headers
  body
    include sidebar.pug
    #logo
      img(src="/images/ouroborosLogo.png" width="409")
    #content
      table(style="border-spacing: 1em;")
        tr
          td(valign="top")
            block body_content
          td(valign="top")
            .nav
              +menuMacro(globalData.menuTree)
              if globalData.username
                div(style="padding: 0.2rem")
                  div Current user: #{globalData.username} 
              include core/block-players-online.pug