extends layout

include ./core/block-server-status.pug

block body_content
  #content
    .block
        .blocktitle 
            | Failure!
        .blockbody
            p "You need to try again" 
              a(href="/create") Create an account
            p= message 